In [26]:
import pandas as pd

In [27]:
dados = pd.read_csv('residencial.csv', sep = ';')

In [28]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio']  + dados['IPTU']

In [29]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  Condominio  IPTU  Valor Bruto
0           Quitinete       Copacabana        1  ...       500.0  60.0       2260.0
1                Casa  Jardim Botânico        2  ...         NaN   NaN          NaN
2         Apartamento           Centro        1  ...       390.0  20.0       1210.0
3         Apartamento     Higienópolis        1  ...       230.0   NaN          NaN
4         Apartamento     Vista Alegre        3  ...         NaN   NaN          NaN
5         Apartamento         Cachambi        2  ...       301.0  17.0       1618.0
6  Casa de Condomínio  Barra da Tijuca        5  ...         NaN   NaN          NaN
7  Casa de Condomínio            Ramos        2  ...         NaN   NaN          NaN
8         Apartamento           Centro        1  ...         NaN   NaN          NaN
9         Apartamento           Grajaú        2  ...       642.0  74.0       2216.0

[10 rows x 10 columns]

In [30]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados['Valor m2'] = dados['Valor m2'].round(2)

In [31]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  IPTU  Valor Bruto  Valor m2
0           Quitinete       Copacabana        1  ...  60.0       2260.0     42.50
1                Casa  Jardim Botânico        2  ...   NaN          NaN     70.00
2         Apartamento           Centro        1  ...  20.0       1210.0     53.33
3         Apartamento     Higienópolis        1  ...   NaN          NaN     16.67
4         Apartamento     Vista Alegre        3  ...   NaN          NaN     17.14
5         Apartamento         Cachambi        2  ...  17.0       1618.0     26.00
6  Casa de Condomínio  Barra da Tijuca        5  ...   NaN          NaN     29.33
7  Casa de Condomínio            Ramos        2  ...   NaN          NaN     15.38
8         Apartamento           Centro        1  ...   NaN          NaN     33.33
9         Apartamento           Grajaú        2  ...  74.0       2216.0     21.43

[10 rows x 11 columns]

In [32]:
dados['Valor Bruto m2'] = dados['Valor Bruto'] / dados['Area']
dados['Valor Bruto m2'] = dados['Valor Bruto m2'].round(2)

In [34]:
dados.head(10)

                 Tipo           Bairro  ...  Valor m2  Valor Bruto m2
0           Quitinete       Copacabana  ...     42.50           56.50
1                Casa  Jardim Botânico  ...     70.00             NaN
2         Apartamento           Centro  ...     53.33           80.67
3         Apartamento     Higienópolis  ...     16.67             NaN
4         Apartamento     Vista Alegre  ...     17.14             NaN
5         Apartamento         Cachambi  ...     26.00           32.36
6  Casa de Condomínio  Barra da Tijuca  ...     29.33             NaN
7  Casa de Condomínio            Ramos  ...     15.38             NaN
8         Apartamento           Centro  ...     33.33             NaN
9         Apartamento           Grajaú  ...     21.43           31.66

[10 rows x 12 columns]

In [35]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [37]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [39]:
dados.head(10)

                 Tipo           Bairro  ...  Valor Bruto m2  Tipo Agregado
0           Quitinete       Copacabana  ...           56.50    Apartamento
1                Casa  Jardim Botânico  ...             NaN           Casa
2         Apartamento           Centro  ...           80.67    Apartamento
3         Apartamento     Higienópolis  ...             NaN    Apartamento
4         Apartamento     Vista Alegre  ...             NaN    Apartamento
5         Apartamento         Cachambi  ...           32.36    Apartamento
6  Casa de Condomínio  Barra da Tijuca  ...             NaN           Casa
7  Casa de Condomínio            Ramos  ...             NaN           Casa
8         Apartamento           Centro  ...             NaN    Apartamento
9         Apartamento           Grajaú  ...           31.66    Apartamento

[10 rows x 13 columns]